#LatexFiles
*.aux
*.out
*.toc
*.log
*.gz

#QtFiles project configuration
*.user

# Build directories
build-tp1*
tp1-build*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
